.epic-title {
  width: 150px;
  float: left;
  white-space: initial;
}

.epic-dashboard {
  .body-wrapper {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;

    .epic-details {
      padding: 30px 25px;

      .progress-row {
        margin-top: 20px;
      }
    }

    @media (min-width: 768px) {
      .epic-details {
        border-right: 2px solid #444444;
      }
    }

    .epic-stories {
      height: 100vh;
      overflow: scroll;
      padding: 20px;
    }
  }
}