.story-details {
  margin-top: 20px;
}

.story-dashboard {
  .body-wrapper {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;

    .story-overview {
      padding: 30px 25px;
      
      .progress-row {
        margin-top: 20px;
      }
    }

    @media (min-width: 768px) {
      .story-overview {
        border-right: 2px solid #444444;
      }
    }

    .story-tasks {
      height: 100vh;
      overflow: scroll;
      padding: 20px;
    }
  }
}
